.contenedor {
    position: relative;
    width: 450px;
    margin: 0px auto;
}

.pantalla_inicial {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 2;
    position: fixed;
}

.menu_rueda {
    background-color: black;
    color: red;
    width: 450px;
    margin: 0px auto;
}

img.rueda {
    max-width: 450px;
}

img.icono_curso {
    position: absolute;
    width: 80px;
    height: 80px;
}

.icono_biologia {
    bottom: 362px;
    right: 147px;
}

.icono_evaluaciones {
    bottom: 58px;
    left: 48px;
}

.icono_fisica {
    right: 22px;
    bottom: 234px;
}

.icono_formacion {
    right: 62px;
    bottom: 60px;
}

.icono_historia {
    right: 147px;
    bottom: 15px;
}

.icono_ingles {
    right: 20px;
    bottom: 140px;
}

.icono_lenguaje {
    bottom: 314px;
    left: 35px;
}

.icono_matematicas {
    bottom: 361px;
    left: 124px;
}

.icono_orientacion {
    left: 130px;
    bottom: 20px;
}

.icono_quimica {
    bottom: 311px;
    right: 60px;
}

.icono_cerrar_icono {
    bottom: 58px;
    left: 48px;
    display: none;
}

.icono_Plus {
    bottom: 58px;
    left: 48px;
    display: none;
}

.icono_enlace {
    color: white;
    font-weight: 900;
    font-size: 40px;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 0px;
    position: relative;
}

.contenedor_enlaces {
    width: 100%;
    position: relative;
    height: 75px;
    z-index: 2;
}

.color_icono_enlace {
    color: white;
}

.background_enlace {
    background-color: #ffc820;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 29px;
    position: relative;
    top: 15px;
    -webkit-transition: top .5s;
    transition: top .5s;
    cursor: pointer;
}

.background_enlace:hover {
    top: 5px;
}

.icono_enlace_seleccionado{
    background-color: black;
    top: 0px;
}

.estilo_I_de_la_O{
    background-color: #ffc820;
    width: 250px;
    height: 55px;
    border-radius: 50px;
    position: absolute;
    top: 200px;
    left: -60px;
    z-index: 1;

    color:white;
}

.rotated-image {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

.enlace_anchor {
    text-decoration: none;
}

.change_courses {
    animation: shake 0.5s;
    animation-iteration-count: 1.0s;
}

.icono_curso:hover {
    animation: shake 2.0s;
    animation-iteration-count: infinite;
}

.icono_curso_mover {
    animation: shake 0.5s;
    animation-iteration-count: 1.0s;
}


@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

body{
    background-color: white
}

@media only screen and (max-width: 575px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    body {
      background-color: red;
    }

    .iframe_rueda_para_adaptar{
        -ms-zoom: 0.75;
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.75);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.45);
        -webkit-transform-origin: 0 0;
    }
  }